/* *{
    border: 1px solid blue;
} */
html {
    background: url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1420");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 0;
}

.formContainer {
    /* display: flex; */
    flex-direction: column;
    align-content: center;
    background-color: rgb(248, 248, 255, 0.5);
    width: 458px;
    height: 325px;
    border-radius: 4px;
    list-style: none;
    margin: auto;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 17px 0 5px;
}

form {
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 18px;
    width: 93%;
}

input, select {
    margin-bottom: 15px;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: white;
}

.buttonAdd {
    margin: 0 auto;
    border-radius: 4px;
    width: 100%;
    border: none;
    height: 30px;
    background-color: white;
}

/* .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;

} */
.contacts {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.contact {
    display: flex;
    flex: none;
    flex-direction: column;
    padding: 0px;
    width: 200px;
    height: 91.6px;
    border-radius: 4px;
    padding: 1px;
    margin: 10px auto;
    background-color: lightgray;
}


img {
    height: 15px;
    width: 16px;
    background-color: ghostwhite;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0px;
    margin-left: 185px;
    margin-top: 5px;
    }

/* .contact ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact ul li:nth-child(5) {
   height: 18px;
   width: 100%;
   background-color: lightgray;
} */

.contactDiv {
    background-color: lightgrey;
    opacity: 0.9;
    font-size: 0.8rem;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    font-weight: 600;
    width: 200px;
    height: 130px;
    margin: 10px 0;
}

.fa-trash-alt {
    background: white;
    padding: 3px;
    border-radius: 30px;
    border: 1px solid black;
    }


.deleteButton {
    border: none;
    border-radius: 30px;
    padding: 0;
}

.deleteButton, .fa-trash-alt {
    position: absolute;
    left: 100px;
    top: 65px;
}
